<div class="container-fluid">
  <div (click)='goBack()' class="mx-2 text-primary">
    <i class="fas fa-2x fa-times"></i>
  </div>
  <h2>Submission {{submission?._id}} for Quiz {{quiz?.title}}</h2>

  <ul class="list-group">
    <li *ngFor="let answer of submission?.answers" class="list-group-item">
      <h4>
        {{answer.question.title}}
        <span class="float-right">{{answer.question.points}}</span>
      </h4>
      <div [ngSwitch]="answer.question.questionType">

        <app-essay-submission [answer]="answer" *ngSwitchCase="'ESSAY'">
        </app-essay-submission>

        <app-fill-blanks-submission [answer]="answer" *ngSwitchCase="'FILL_BLANKS'">
        </app-fill-blanks-submission>

        <app-true-false-submission [answer]="answer" *ngSwitchCase="'TRUE_FALSE'">
        </app-true-false-submission>

        <app-multiple-choice-submission [answer]="answer" *ngSwitchCase="'MULTIPLE_CHOICE'">
        </app-multiple-choice-submission>

      </div>
    </li>
  </ul>

  <button class="btn btn-primary float-right my-2 " (click)="submitQuiz(quiz)">
    Submit
  </button>
</div>