<h1>Navigator</h1>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Courses</li>
      <li class="list-group-item webdev" *ngFor="let course of courses" (click)="selectCourse(course)" [ngClass]="{'active':course===selectedCourse}">
        {{course.title}}</li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Modules </li>
      <li class="list-group-item webdev" *ngFor="let module of modules" (click)="selectModule(module)" [ngClass]="{'active':module===selectedModule}">
        {{module.title}} </li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Lessons </li>
      <li class="list-group-item webdev" *ngFor="let lesson of lessons" (click)="selectLesson(lesson)" [ngClass]="{'active':lesson===selectedLesson}">
        {{lesson.title}} </li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Topics </li>
      <li class="list-group-item webdev" *ngFor="let topic of topics" (click)="selectTopic(topic)" [ngClass]="{'active':topic===selectedTopic}">
        {{topic.title}} </li>
    </ul>
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item active">
        Widgets </li>
      <li class="list-group-item webdev" *ngFor="let widget of widgets" (click)="selectWidget(widget.id)" [ngClass]="{'active':widget.id===selectedWidgetId}">
        {{widget.widgetName}} </li>
    </ul>
  </div>
</div>